{% extends 'sections.html' %}
{% block page_content %}

<form class="form-inline">
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Filter by provider</label>
  <select name="provider" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
      <option value="">All</option>
      {% for provider in all_providers%}
            <option value="{{ provider.id }}">{{provider.name}}</option>
      {% endfor %}
  </select>
  <button type="submit" class="btn btn-primary my-1">Filter</button>
</form>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Products</th>
        <th>Provider</th>
    </tr>
    </thead>
    <tbody>
    {% for offer in all_offers %}
    <tr>
        <td>{{offer.name}}</td>
        <td>{{offer.description}}</td>
        <td>
            {% for offers_product in all_offersproduct %}
                {%if offers_product.offer_id.id == offer.id%}
                    {{offers_product.product_id.product_name}},
                {%endif%}
            {% endfor %}
        </td>
        <td>{{offer.provider}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
