{% extends 'sections.html' %}
{% block page_content %}

<p><a href="{% url 'add_provider' %}"><button type="button" class="btn btn-outline-primary">Add new Provider</button></a></p>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    {%for provider in all_providers %}
    <tr>
        <td>{{provider.name}}</td>
        <td>{{provider.email}}</td>
        <td>{{provider.phone}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
