{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'providers_list' %}">Providers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'offers' %}">Offers</a>
      </li>
    </ul>
  </div>
    <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-secondary">Logout</button></a>
</nav>

{% block page_content %}{% endblock %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}"><button type="button">login</button></a>
{% endif %}
{% endblock %}